@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --color-primary: #5A5BEF;
  --color-secondary: smokewhite;
  --color-gradient-1: #f2eefa;
  --color-gradient-2: #f4e8f8;
  --color-gradient-3: #ead6fa;
}

*{
  margin: 0;
  padding: 0;
}

.content { padding: 1rem; }

.content img {
  width: 120px;
}

ul{
  list-style-type: none;
}

.Mui-selected {
  color: #5A5BEF !important;
}

.Mui-selected svg {
  color: #5A5BEF !important;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textfield {
  width: 100%;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid var(--color-primary) !important;

}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--color-primary) !important;
}

.btn {
  width: 100%;
  background-color: var(--color-primary) !important;
}

/* Estilo del thumb (la parte que se arrastra) */
::-webkit-scrollbar-thumb, .css-1aquho2-MuiTabs-indicator {
  background-color: var(--color-primary) !important; /* Cambia el color de fondo del thumb */
  border-radius: 5px !important; /* Añade bordes redondeados al thumb */
}

/* Estilo del track (el fondo de la barra de desplazamiento) */
::-webkit-scrollbar-track {
  background-color: var(--color-primary); /* Cambia el color de fondo del track */
}