@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --color-primary: #5A5BEF;
  --color-secondary: smokewhite;
  --color-gradient-1: #f2eefa;
  --color-gradient-2: #f4e8f8;
  --color-gradient-3: #ead6fa;
}

*{
  margin: 0;
  padding: 0;
}

.content { padding: 1rem; }

.content img {
  width: 120px;
}

@media (max-width: 600px) { /* Ajusta el tamaño según tus necesidades */
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Cambia este valor según tu necesidad */
  }

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }
}


ul{
  list-style-type: none;
}

.css-i4bv87-MuiSvgIcon-root[data-testid="PlayCircleRoundedIcon"] {
  fill: var(--color-primary) !important;
}

.Mui-selected {
  color: #5A5BEF !important;
}

.Mui-selected svg {
  color: #5A5BEF !important;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textfield {
  width: 100%;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid var(--color-primary) !important;

}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--color-primary) !important;
}

.btn {
  width: 100%;
  background-color: var(--color-primary) !important;
}

/* Estilo del thumb (la parte que se arrastra) */
::-webkit-scrollbar-thumb, .css-1aquho2-MuiTabs-indicator {
  background-color: var(--color-primary) !important; /* Cambia el color de fondo del thumb */
  border-radius: 5px !important; /* Añade bordes redondeados al thumb */
}

/* Estilo del track (el fondo de la barra de desplazamiento) */
::-webkit-scrollbar-track {
  background-color: var(--color-primary); /* Cambia el color de fondo del track */
}

.css-10ufb1t-MuiSlider-root {
  padding: 8px 0px !important;
}

#player-range {
  width: 200px;
  height: 8px;
  appearance: none;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  transition: background-color 0.3s;
}

#player-range::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

#player-range::-webkit-slider-thumb:hover {
  background-color: var(--color-primary);
}

#player-range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

#player-range::-moz-range-thumb:hover {
  background-color: var(--color-primary);
}

#player-range::-ms-thumb {
  width: 15px;
  height: 15px;
  background-color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

#player-range::-ms-thumb:hover {
  background-color: var(--color-primary);
}

#player-range:focus {
  background-color: #ccc;
}
